# Assignment 03

## Data Preprocessing

### Training Set

In [2]:
import csv
import numpy as np
import pandas as pd

# We use sklearn for preprocessing. Do not use it in your code!!!
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

# Below is an example how data preprocessing can be achieved with pandas module
data = pd.DataFrame()
test = pd.DataFrame()

data = pd.read_csv('trainData.csv',  dtype={'Color': str,'Radius (cm)':float,'Weight (grams)':float})
# print(data)
#########################  DATA Preprocessing  #############################
    
# drop duplicated rows
data= data.drop_duplicates()
    
# replace zeros entireis with np.nan
data=data.replace(0,np.nan)
data=data.dropna() # drop all nan entiries 
    
# transform the nominal feature (color) to dummy
newCols=pd.get_dummies(data.iloc[:,0]) 
data = pd.concat([newCols, data], axis=1) # add them to the transfomed columns to the beggining  of the data frame
data=data.drop(data.columns[3],axis = 1) # drop nominal column (color)    

## normalization
min_radius = min(data.iloc[:,3])
max_radius = max(data.iloc[:,3])
data['Radius (cm)'] = list(map(lambda x: (float(x)-min_radius)/(max_radius-min_radius), data.iloc[:,3]))

## normalization
min_weight = min(data.iloc[:,4])
max_weight = max(data.iloc[:,4])
data['Weight (grams)'] = list(map(lambda x: (float(x)-min_weight)/(max_weight-min_weight), data.iloc[:,4]))
train=data.copy()
#reset indexing as some index is missing index 8
train=train.reset_index(drop=True)
train

    Green  Red  Yellow  Radius (cm)  Weight (grams) Fruit (class)
0       0    0       1     0.064516        0.150376         Lemon
1       0    0       1     0.645161        0.263158         Apple
2       1    0       0     0.483871        1.000000          Pear
3       0    0       1     0.161290        0.135338         Lemon
4       0    0       1     0.000000        0.000000         Lemon
5       1    0       0     0.129032        0.345865         Apple
6       0    0       1     0.322581        0.218045         Lemon
7       0    0       1     1.000000        0.759398          Pear
8       1    0       0     0.129032        0.225564         Apple
9       0    0       1     0.354839        0.293233         Apple
10      0    1       0     0.516129        0.458647         Apple
11      1    0       0     0.096774        0.210526         Lemon
12      1    0       0     0.806452        0.842105          Pear
13      1    0       0     0.709677        0.699248          Pear
14      0    0       1     0.258065        0.097744         Lemon
15      1    0       0     0.774194        0.526316          Pear
16      0    0       1     0.645161        0.714286          Pear
17      0    0       1     0.096774        0.203008         Lemon
18      0    0       1     0.000000        0.180451         Apple
19      1    0       0     0.193548        0.248120         Apple
20      0    1       0     0.419355        0.300752         Apple
21      1    0       0     0.677419        0.646617          Pear
22      0    0       1     0.290323        0.436090         Apple
23      0    0       1     0.354839        0.180451         Lemon
24      1    0       0     0.129032        0.187970         Lemon
25      1    0       0     0.322581        0.338346         Apple
26      0    0       1     1.000000        0.766917          Pear

### Test Dataset

In [8]:
test = pd.DataFrame()
test = pd.read_csv('testData.csv',  dtype={'Color': str,'Radius (cm)':float,'Weight (grams)':float})

#########################  DATA Preprocessing  #############################
    
# drop duplicated rows
test= test.drop_duplicates()

# transform the nominal feature (color) to dummy
newCols=pd.get_dummies(test.iloc[:,0]) 
test = pd.concat([newCols, test], axis=1) # add them to the transfomed columns to the beggining  of the data frame
test= test.drop(test.columns[3],axis = 1) # drop nominal column (color)    

## normalization
# min_radius = min(test.iloc[:,3])
# max_radius = max(test.iloc[:,3])
test['Radius (cm)'] = list(map(lambda x: (float(x)-min_radius)/(max_radius-min_radius), test.iloc[:,3]))

## normalization
# min_radius = min(test.iloc[:,4])
# max_radius = max(test.iloc[:,4])
test['Weight (grams)'] = list(map(lambda x: (float(x)-min_weight)/(max_weight-min_weight), test.iloc[:,4]))

test

,Green,Red,Yellow,Radius (cm),Weight (grams),Predicted (class),Original (class)
0,0,0,1,0.129032,0.180451,NaN,Lemon
1,1,0,0,0.677419,0.375940,NaN,Pear
2,1,0,0,0.354839,0.413534,NaN,Pear
3,0,1,0,0.258065,0.187970,NaN,Apple
4,0,0,1,0.258065,0.150376,NaN,Lemon

# 2.1 kNN Classification with Manual K

In [9]:
#CODE IN THIS CELL, we have done optionally in intention to increase the precision.
#as some information in the radius and weights are showing zero which is not possible ,
#So, for missing value in feature we are assigning mean of the class (as told in assignment 2).
#without this we are getting precision 80% at k=1  and 100% at K=3
#******PLEASE COMMENT whole cell IF YOU WANT TO CHECK WITHOUT THIS *****
# train['Weight (grams)'].replace(0,np.nan, inplace=True)
# train['Radius (cm)'].replace(0,np.nan, inplace=True)
# train_mean=train.groupby(['Fruit (class)']).mean()
# train_mean=train_mean.reset_index()
# train.loc[train['Radius (cm)'].isnull() & (train['Fruit (class)'] == 'Lemon'),'Radius (cm)']=train_mean[train_mean['Fruit (class)'] == 'Lemon']['Radius (cm)'].values
# train.loc[train['Weight (grams)'].isnull() & (train['Fruit (class)'] == 'Lemon'),'Weight (grams)']=train_mean[train_mean['Fruit (class)'] == 'Lemon']['Weight (grams)'].values
# train.loc[train['Radius (cm)'].isnull() & (train['Fruit (class)'] == 'Apple'),'Radius (cm)']=train_mean[train_mean['Fruit (class)'] == 'Apple']['Radius (cm)'].values



# test['Weight (grams)'].replace(0,np.nan, inplace=True)
# test['Radius (cm)'].replace(0,np.nan, inplace=True)
# test_mean=test.groupby(['Original (class)']).mean()
# test_mean=test_mean.reset_index()
# test.loc[test['Radius (cm)'].isnull() & (test['Original (class)'] == 'Lemon'),'Radius (cm)']=test_mean[test_mean['Original (class)'] == 'Lemon']['Radius (cm)'].values
# test.loc[test['Weight (grams)'].isnull() & (test['Original (class)'] == 'Lemon'),'Weight (grams)']=test_mean[test_mean['Original (class)'] == 'Lemon']['Weight (grams)'].values

In [10]:
# TODO
#function to calculate euclidean distance 
def Euclidean_Distance(test_set,train_set,x,column_list):
    train_set['Euclidean_Distance']=0
    for i in column_list:
        train_set['Euclidean_Distance']+= np.square(train_set.loc[:,i]-test_set.loc[x,i])
    train_set['Euclidean_Distance']=np.sqrt(train_set['Euclidean_Distance'])
    return train_set

#function for K nearest neighbours
def KNN_Algorithm(test, train1,k,column_list):
    temp= train1.copy()
    test1=test.copy()
  
    for i in range(0,len(test1)):
        #calculating euclidean distance
        temp=Euclidean_Distance(test1,train1,i,column_list)
    
#         taking k smallest values as nearest neigbhours
        N_Neighbour=temp.nsmallest(k,'Euclidean_Distance')
       
        #sorting according to size for dealing with K values 
        N_Neighbour=N_Neighbour.groupby('Fruit (class)').size().reset_index(name='size').sort_values('size',ascending= False)
        N_Neighbour=N_Neighbour.reset_index()
        
#         assigning predicted values 
        test1.loc[i,'Predicted (class)']=N_Neighbour.loc[0,'Fruit (class)']
       
    return test1

#performance calculation: precision 
def Performance_Evaluation(data):
    true_Positive = data.where(data['Predicted (class)']==data['Original (class)']).count().unique()[0]
    false_Positive= data.where(data['Predicted (class)']!=data['Original (class)']).count().unique()[0]
    precision=true_Positive/(false_Positive+true_Positive)*100
    return precision

In [11]:
#taking input 
k= int(input("Please enter value of K for KNN algorithm:"))

#list of column for prediction , for euclidean distance, as they are vectors
column_list = ["Green","Red","Yellow","Radius (cm)","Weight (grams)"]


predicted_result_k = KNN_Algorithm(test,train,k,column_list)
precision_k = Performance_Evaluation(predicted_result_k)



print("Precision @",k,":", precision_k)



predicted_result_k

Please enter value of K for KNN algorithm:3
Precision @ 3 : 80.0

,Green,Red,Yellow,Radius (cm),Weight (grams),Predicted (class),Original (class)
0,0,0,1,0.129032,0.180451,Lemon,Lemon
1,1,0,0,0.677419,0.375940,Pear,Pear
2,1,0,0,0.354839,0.413534,Apple,Pear
3,0,1,0,0.258065,0.187970,Apple,Apple
4,0,0,1,0.258065,0.150376,Lemon,Lemon

In [12]:
#performin action at k=1 and 3

#for k=3 
predicted_result_k1 = KNN_Algorithm(test,train,1,column_list)
precision_k1 = Performance_Evaluation(predicted_result_k1)
print("Precision at k=1: ", precision_k1)

#for k=3 
predicted_result_k3 = KNN_Algorithm(test,train,3,column_list)
precision_k3 = Performance_Evaluation(predicted_result_k3)
print("Precision at k=3: ", precision_k3)

print("predicted result at k@1\n",predicted_result_k1)
print("predicted result at k@3\n",predicted_result_k3)

Precision at k=1:  80.0
Precision at k=3:  80.0
predicted result at k@1
    Green  Red  Yellow  Radius (cm)  Weight (grams) Predicted (class)  \
0      0    0       1     0.129032        0.180451             Lemon
1      1    0       0     0.677419        0.375940              Pear
2      1    0       0     0.354839        0.413534             Apple
3      0    1       0     0.258065        0.187970             Apple
4      0    0       1     0.258065        0.150376             Lemon

  Original (class)
0            Lemon
1             Pear
2             Pear
3            Apple
4            Lemon
predicted result at k@3
    Green  Red  Yellow  Radius (cm)  Weight (grams) Predicted (class)  \
0      0    0       1     0.129032        0.180451             Lemon
1      1    0       0     0.677419        0.375940              Pear
2      1    0       0     0.354839        0.413534             Apple
3      0    1       0     0.258065        0.187970             Apple
4      0    0       1     0.258065        0.150376             Lemon

  Original (class)
0            Lemon
1             Pear
2             Pear
3            Apple
4            Lemon

# 2.2 kNN Classification with Automatic K Estimation

In [13]:

threshold = 85
test
train
for K in range(1,len(train)):
    predicted_result_k1= KNN_Algorithm(test,train,K,column_list)
    precision_k1 = Performance_Evaluation(predicted_result_k1)
    Value_K= precision_k1
    
    if(precision_k1 >=threshold):
        break
        
K,precision_k1

(26, 20.0)